// fonts
$main-font-family: Manrope;

$main-font-weight: 500;
$secondary-font-weight: 400;

// colors
$main-bg-color: #EBF0FA;
$btn-bg-color: #244C98;
$form-input-bg-color: #D7E2F6;
$modal-window-bg-color: #F0F4FC;

$main-text-color: #1F4284;
$secondary-text-color: #727272;
$light-text-color: #FFFFFF;
$dark-text-color: #323232;
$black-color: #000000;